# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and settings
.env
*.env

# macOS system files
.DS_Store

# Jupyter
*.ipynb_checkpoints/

# Project data and backups
data/
custom_model_train/datasets/
bkp/

# Logs and runtime files
*.log
*.sqlite3
*.db


# VSCode and other editor folders
.vscode/
.idea/

# Virtual environments
venv/
env/
.venv/

# Compiled C extensions
*.so

# Coverage and test reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# Linting and build
.mr.developer.cfg
*.egg
*.egg-info/
dist/
build/
.eggs/

# Optional: prevent committing videos or large files
*.mp4
*.mov
*.avi
